.font_righteous {
  font-family: 'Righteous', cursive;
}
header {
  padding: 10px 0px;
  transition: all 300ms ease-in;
}

header .header_logo {
  flex-grow: 1;
}
header .header_logo_venue {
  font-size: 40px;
}

header .header_logo_title {
  text-transform: uppercase;
}
.carrousel_wrapper {
  height: 700px;
  overflow: hidden;
}

.carrousel_image {
  background-size: cover !important;
}
/*------------------------------- new css---------------------------- */
.main_box {
  position: absolute;
  bottom: 0px;
  font-weight: 600;
  width: 100%;
}

.top_box{
  background: #ff4800;
  width: 18%;
  font-size: 25px;
  padding: 5px;
  text-align: center;

}

.bottom_box{
  background: gainsboro;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.stats_value .stats_name{
  flex:1;
}

.stats_name{
  font-size: 15px;
}

.bottom_inner_box{
  font-size: 20px;
  font-weight: bold;
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding-top:10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  /* padding-bottom: 10px; */
  margin: 10px;
}

.root {
  overflow-x: scroll;
}


@media only screen and (min-width: 360px) and (max-width: 700px) {
  .countdown {
    font-size: 14px !important;
    border-right: 1px solid #f44336;
    margin-right: 12px;
    padding-right: 40px;
    margin-left: 40px;
  }

  .bottom_box{
    flex-wrap: wrap;
  }
  .top_box{
    background: #ff4800;
    width: 40%;
    font-size: 22px;
    padding: 2px;
    text-align: center;
  }
  .bottom_inner_box{
    font-size: 13px;
    font-weight: bold;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    padding-top:10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 10px;
    /* padding-bottom: 10px; */
    margin: 7px;
  }

  header .header_logo_venue {
    font-size: 25px;
  }

}

/* ----------------------------------------------------------------------------------------------------------------------- */


.pricing_section {
  padding: 70px 0px;
}

.bck_black {
  background-color: #3c3c3c;
}
.pricing_section h2 {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  margin: 0;
}

.pricing_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
}
.pricing_wrapper .pricing_item {
  flex-grow: 1;
  width: 98%;
  padding: 20px;
  box-sizing: border-box;
}

.pricing_wrapper .pricing_inner_wrapper {
  border: 2px solid #ffa800;
  padding: 0px 20px;
}

.pricing_inner_wrapper .pricing_title {
  color: #ffffff;
  text-align: center;
  border-bottom: 1px solid #ffa800;
  padding-bottom: 0px;
}
.pricing_inner_wrapper .pricing_title .source {
  font-size: 30px;
  display: block;
}
.pricing_inner_wrapper .pricing_title .headline {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
}
.pricing_inner_wrapper .pricing_description {
  color: #b8b8b8;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  padding: 20px 0px;
  min-height: 70px;
}
.pricing_inner_wrapper .time {
  float: right;
  margin-top: 24px;
  font-weight: 700;
}

.Tablefeed {
  margin-top: 10px;
  padding-bottom: 20px;
  min-height: 59vh;
}

.Tablefeed .Tablefeed-header {
  text-align: center;
}
#Countryhead {
  text-align: center;
  padding-bottom: 14px;
}
.tableheaderone {
  font-size: 1.2rem;
}
.CountriesAffected {
  margin-left: 5rem;
  margin-right: 5rem;
}

.graph-group > .row {
  width: 100%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 !important;
}
.graph-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}


.graph-card{
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding-top:15px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 400px) {
  .countdown {
    font-size: 14px !important;
    border-right: 1px solid #f44336;
    margin-right: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 10px !important;
  }
  /* .countdown_wrapper .countdown_tag {
    font-size: 12px;

    padding-right: 10px;
  } */
  .CountriesAffected > .table {
    overflow-x: scroll;
  }
  .carousel-control-next-icon{
    display:none !important;
  }
  .carousel-control-prev-icon{
    display:none !important;
  }
}

@media only screen and (max-width: 768px) {
  .CountriesAffected{
    margin-right: 0rem;
    margin-left: 0rem;
}

  .CountriesAffected > .table{
    margin-right: 0rem;
    margin-left: 0rem;
    overflow-x: scroll;
  }
}

.tales {
  width: 100%;
}
.carousel-inner {
  width: 100%;

}

.carousel-image{
  
    display: block !important;
    max-width:320px;
   
    width: auto;
    height: auto;
    margin: auto;
  
}
.carousel-inner{
  height:452px !important

}
.carousel-caption{
  bottom:-190px !important;
  padding-bottom: -8px;
}
.carousel-head{
  margin-top: 20px;
}
b{
  font-size: 1.5rem;
}
@media only screen and (max-width:768px){
  .carousel-image{
    max-width: 190px;
  }
  .carousel-caption{
    position:initial !important
  }
}